In [24]:
num = 12 
name = 'blah' #comment

In [25]:
num

12

In [26]:
print('my number is {one} and my name is {two}'.format(one = num, two = name))

my number is 12 and my name is blah

testing

In [30]:
s = 'abcdfghijk'

In [36]:
s[0:3]

'abc'

In [39]:
s[3:6]

'dfg'

In [40]:
[1,2,3]

[1, 2, 3]

In [41]:
[a,b,c]

NameError: name 'a' is not defined

In [42]:
my_list = ['a','b','c']

In [43]:
my_list.append('d')

In [44]:
my_list

['a', 'b', 'c', 'd']

In [46]:
my_list[1:3]

['b', 'c']

In [49]:
my_list[0 ]= 'NEW'

In [50]:
my_lsit

NameError: name 'my_lsit' is not defined

In [51]:
my_list

['NEW', 'b', 'c', 'd']

In [52]:
nest = [1,2,[3,4]]

In [53]:
nest

[1, 2, [3, 4]]

In [54]:
nest[2]

[3, 4]

In [55]:
nest[2][1]

4

In [58]:
nest = [1,2,3,[4,5,['target']]]
nest

[1, 2, 3, [4, 5, ['target']]]

In [65]:
print(nest[3][2][0])

target

In [68]:
d = {'key1':'dan', 'key2':123}

In [70]:
d['key1']

'dan'

In [72]:
d['key2']

123

In [1]:
1>2

False

In [2]:
1<2

True

In [14]:
s = [1,2,2,242,5,66,464]

In [15]:
s

[1, 2, 2, 242, 5, 66, 464]

In [16]:
set(s)

{1, 2, 5, 66, 242, 464}

In [17]:
s.add(6564747)

AttributeError: 'list' object has no attribute 'add'

In [18]:
(1<2) and (2>3)

False

In [19]:
(1<2) or (2>3)

True

In [20]:
True or False

True

In [27]:
if (1<2) and (2>3):
    print('yep!')
elif 3==3:
    print('Middle')
else:
    print('nope!')

Middle

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for num in seq:
    print(jelly)